<div  id="contenedor">
  <img src="{{coche.imagen}}" class="card-img-top" alt="Imagen del coche">
  <div id="opciones">
    <h5>{{coche.modelo}}</h5>
    <form [formGroup]="formGroup">
      <label>Motor:</label><br>
      <select id="motor" name="motor" formControlName="motor">
        <option value="gasolina" >Gasolina</option>
        <option value="hibrido" >Hibrido</option>
        <option value="electrico" >Eléctrico</option>
      </select>
      <br><label>Acabado:</label><br>
      <select id="acabado" name="acabado" formControlName="acabado">
        <option value="basico">Básico</option>
        <option value="sport">Sport</option>
        <option value="Luxe">Luxe</option>
      </select>
      <br><label>Color:</label><br>
      <select id="color" name="color" formControlName="color">
        <option value="base">Base</option>
        <option value="medio">Medio</option>
        <option value="pro">Pro</option>
      </select>
    </form>
  </div>
</div>



