
#contenedor{
  background-color: burlywood;
  border: brown;
  width: 60%;
}
img
{
  width: 18rem;
  display: inline-block;
  margin: 2%;
}
#opciones{
  display: inline-block;
  position: absolute;
  font-family: cursive;
}

