.fa {
  background-color: rgb(255, 246, 51);
}
.lg {
  font-size: 200%;
}
.uno {
  border: 3px solid #f00;
  background-color: lightblue;
}
.dos {
  border: medium double #369;
  background-color: yellow;
}
.tamB {
  height: 40px;
  width: 300px;
}
