@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
img{
  width: 100%;
}
li{
  padding-top: 2%;
  height: 100px;
  width: 100px;
}
h1{
  padding-top: 2%;
  padding-left: 2%;
  font-family: 'Lobster', cursive;
  font-size: 42px;
}
.container{
  background-color: rgb(73, 98, 165);
}

