<div class="container text-white">
  <!--Titulo-->
  <h1>Bibliapp</h1>

  <ul class="nav row" >
    <!--Home-->
    <li class="nav-item">
        <img title="Home" class="nav-link" src="assets/iconos/home.png" routerLink="/index" alt="Icono de Home">
    </li>
    <!--Lista de libros-->
    <li class="nav-item">
      <img class="nav-link" src="assets/iconos/listalibro.png" routerLink="/libros" alt="Icono de lista de libro ">
    </li>
    <!--Lista de Socios-->
    <li class="nav-item">
      <img class="nav-link" src="assets/iconos/mujer.png" routerLink="/socios" alt="Icono de lista de socios ">
    </li>
    <!--Lista de Prestamos-->
    <li class="nav-item">
      <img class="nav-link" src="assets/iconos/listaprestamo.png" routerLink="/prestamos" alt="Icono de lista de prestamos">
    </li>
    <li class="nav-item">
      <img class="nav-link" src="assets/iconos/salida.png" alt="Icono logout" (click)="authService.SignOut()">
    </li>
  </ul>
</div>
