<app-navbar></app-navbar>
<div class="container-fluid">
  <!--Titulo-->
  <h2>Añade Nuevo Socio</h2>
  <!--Formulario de nuevo socio-->
  <form (ngSubmit)="newSocio(newSocioForm.value)" [formGroup]="newSocioForm">
    <!--Nombre y Apellidos-->
    <div class="input-group mb-3">
      <span class="input-group-text" id="nombre y apellido">
        <img src="../../../assets/iconos/empleados.png" alt="Icono Socio">
      </span>
      <input type="text" class="form-control" aria-label="nombre" aria-describedby="nombre" formControlName="nombre"
        placeholder="Nombre del nuevo socio">
      <input type="text" class="form-control" aria-label="apellido" aria-describedby="apellido" formControlName="apellido"
        placeholder="Apellidos del nuevo socio">
    </div>
    <!--Email-->
    <div class="input-group mb-3">
      <span class="input-group-text" id="correo">
        <img src="../../../assets/iconos/correo-electronico.png" alt="Icono editorial">
      </span>
      <input type="email" class="form-control" aria-label="correo" aria-describedby="correo"
        formControlName="correo" placeholder="example@gmail.com">
    </div>
    <!--Teléfono-->
    <div class="input-group mb-3">
      <span class="input-group-text" id="telefono">
        <img src="../../../assets/iconos/telefono.png" alt="Icono editorial">
      </span>
      <input type="text" class="form-control" aria-label="telefono" aria-describedby="telefono" formControlName="telefono"
        placeholder="123456789">
    </div>
    <!--Dirección-->
    <div class="input-group mb-3">
      <span class="input-group-text" id="direccion">
        <img src="../../../assets/iconos/localizacion.png" alt="Icono dirección">
      </span>
      <input type="text" class="form-control" aria-label="direccion" aria-describedby="direccion" formControlName="direccion"
        placeholder="C/ N, CP, Localidad, Provincia">
    </div>

    <!--Imagen-->
    <div class="input-group mb-3">
      <span class="input-group-text" id="imagen">
        <img src="../../../assets/iconos/urlimage.png" alt="Icono imagen">
      </span>
      <input type="text" class="form-control" id="imagen" aria-describedby="imagen" formControlName="img"
        placeholder="https://www.ejemplo.com/imagen.jpg">
    </div>

    <!--Submit-->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <input type="submit" class="btn btn-primary" [disabled]="!newSocioForm.valid" value="Agregar">
    </div>
  </form>
</div>
<app-footer></app-footer>
