<div class="background">
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Forgot Password</h3>
          <div class="d-flex justify-content-end social_icon">
            <span><i class="fab fa-facebook-square"></i></span>
            <span><i class="fab fa-google-plus-square"></i></span>
            <span><i class="fab fa-twitter-square"></i></span>
          </div>
        </div>
        <div class="card-body">
          <div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><img src="assets/iconos/user.png" alt="Icono user"></span>
              </div>
              <input type="email" class="form-control" id="email" #userName placeholder="username" #passwordResetEmail required>
            </div>
            <div class="form-group">
              <button class="btn float-right login_btn" value="Reset Password"
              (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset</button>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            Don't have an account?<a routerLink="/sign-up">Sign Up</a>
          </div>
          <div class="d-flex justify-content-center">
            <a routerLink="/sign-in">Sign In</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
