<div class="container">
  <div class="card" style="width: 18rem;">
    <img src="/../../assets/descarga.jpg" class="card-img-top" alt="Perfil">
    <div class="card-body">
      <h5 class="card-title">Vicente Sánchez Cabrera</h5>
      <p class="card-text">Estudiante de segundo curso de Grado Superior de Desarrollo y Aplicaciones Web en el Centro Educativo Altair</p>
      <a href="http://vicsancab.com/" class="btn btn-primary">Portfolio</a>
    </div>
  </div>
</div>

