<ul>
  <li *ngFor="let angler of listAnglers">
    <div class="card" style="width: 18rem;">
      <img src="{{angler.foto}}" class="card-img-top" alt="...">
      <div class="card-body">
        <button routerLink="/angler/{{angler.id -1}}"  class="btn btn-link text-center fs-3">{{angler.nombre}}</button>
        <!-- (click)="showAngler(angler.id -1)" -->
      </div>
    </div>
  </li>
</ul>
<button class="btn btn-primary" (click)="selectAngler()">Todos</button>
<button class="btn btn-primary" (click)="selectAngler(1)">Ganadores</button>
<button class="btn btn-primary" (click)="selectAngler(0)">No Ganadores</button>
