<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- Imagen que quieres en el header-->
     <img src="../../../assets/images/pokedex.png" alt="pokedex" width="40" height="40" (click)="home()">
  </mat-toolbar-row>
</mat-toolbar>
