@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');
.container-fluid{
  margin-top: 2%;
}
.row{
  margin: 1%;
}
.columnas{
  cursor: pointer
}

img{
  width: 45%;
}
p{
  font-family: 'Vujahday Script', cursive;
  font-size: 20px;
}
