<app-navbar></app-navbar>
<div class="container text-center">
  <div class="row">
    <!--Nuevo socio-->
    <div routerLink="/socios/nuevoSocio" class="col-lg-4 col-md-4 col-sm-8 columnas" >
      <img src="assets/iconos/hombre.png" alt="Icono de un socio">
      <p>Agregar Socio</p>
      <p>Desde aquí puedes agregar un nuevo socio</p>
    </div>
    <!--Nuevo Libro-->
    <div routerLink="/libros/nuevoLibro" class="col-lg-4 col-md-4 col-sm-8 columnas">
      <img src="assets/iconos/libro.png" alt="Icono de libro">
      <p>Agregar Libro</p>
      <p>Desde aquí puedes agregar un nuevo libro</p>
    </div>
    <!--Nuevo Prestamo-->
    <div routerLink="/prestamos/nuevoPrestamo" class="col-lg-4 col-md-4 col-sm-8 columnas">
      <img src="assets/iconos/prestamo.png" alt="Icono de Prestamo">
      <p>Agregar Prestamo</p>
      <p>Desde aquí puedes agregar un Préstamo</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
