<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <!--Información del libro (1ºColumna)-->
    <div class="col col-md-8 col-sm-12 libro">
      <!--Title-->
      <h2>{{libro.titulo}}</h2>
      <!--Foto del Libro-->
      <img class="portadaLibro" src="{{libro.img}}" alt="Foto del libro">
      <!--Autor y Editorial del Libro-->
      <p>{{libro.autor}}</p>
      <p>{{libro.editorial}}</p>
    </div>
    <!--Detalles del libro y Menú (2ºColumna)-->
    <div class="col col-md-4 col-sm-12 menu">
      <!--Detalles del Libro-->
      <div class="detalles">
        <h2>Detalles de {{libro.titulo}}</h2>
        <p>
          Descripcion:
          {{libro.descripcion}}
        </p>
        <p>
          <img class="iconoDetalles" src="assets/iconos/codigo-de-barras.png" alt="Icono de carnet">
          {{libro.isbn}}
        </p>
        <p>
          <img class="iconoDetalles" src="assets/iconos/edificio-de-oficinas.png" alt="Icono de carnet">
          {{libro.editorial}}
        </p>
      </div>
      <!--Menú-->
      <div *ngIf="!libro.prestamo">
        <h3>Menú</h3>
      </div>
      <div *ngIf="!libro.prestamo">
        <!--Botón Prestamo-->
        <div routerLink="/prestamos/nuevoPrestamo" class="button-container">
          <img class="icono" src="assets/iconos/prestar.png" alt="Icono de prestar">
          <button type="button" class="btn btn-outline-primary">Prestar</button>
        </div>
        <!--Botón de Editar-->
        <div routerLink="/editLibro/{{id}}" class="button-container">
          <img class="icono" src="assets/iconos/writing.png" alt="Icono de editar">
          <button type="button" class="btn btn-outline-success">Editar</button>
        </div>
        <!--Botón de Borrar-->
        <div class="button-container">
          <img class="icono" src="assets/iconos/delete.png" alt="Icono de borrar">
          <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
            data-bs-target="#modal">Borrar</button>

          <!-- Modal -->
          <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title" id="exampleModalLabel">Borrar {{libro.titulo}}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Recuerde que si elimina {{libro.titulo}}
                  no lo podrá recuperar.
                </div>
                <div class="modal-footer">
                  <button routerLink="/prestamos" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cerrar</button>
                  <button routerLink="/prestamos" (click)="deleteLibro(id)" type="button"
                    class="btn btn-primary">Borrar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
