
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital@1&display=swap');
button{
  height: 75%;
  width: 75%;
}
.button-container{
  margin-bottom: 5%;
}
.detalles{
  margin-bottom: 5%;
}
h2{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 25px;
}
h3{
  text-align: center;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.icono{
  height: 45px;
  width: 45px;
  margin-right: 5%;
}
.iconoDetalles{
  height: 25px;
  width: 25px;
  margin-right: 5%;

}
.libro{
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

p{
  margin-top: 2%;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}
.portadaLibro{
  height: 75%;
  width: 75%;
}
.row{
  margin-top: 2%;
}

