<!-- Footer -->
<footer class="container text-center text-lg-start bg-light text-muted">
  <!-- Seccion: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Izquierda -->
    <div class="me-5 d-none d-lg-block">
      <span>Conecta en nuestras redes sociales:</span>
    </div>

    <!-- Derecha -->
    <div>
      <a href="" class="me-4 text-reset">
        <img src="../../../assets/iconos/facebook.png" alt="Icono de facebook">
      </a>
      <a href="" class="me-4 text-reset">
        <img src="../../../assets/iconos/twitter.png" alt="Icono de twitter">
      </a>
      <a href="" class="me-4 text-reset">
        <img src="../../../assets/iconos/google.png" alt="Icono de google">
      </a>
      <a href="" class="me-4 text-reset">
        <img src="../../../assets/iconos/instagram.png" alt="Icono de instagram">
      </a>
      <a href="" class="me-4 text-reset">
        <img src="../../../assets/iconos/linkedin.png" alt="Icono de linkedin">
      </a>
      <a href="" class="me-4 text-reset">
        <img src="../../../assets/iconos/github.png" alt="Icono de github">
      </a>
    </div>
  </section>

  <!-- Seccion: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Bibliapp
          </h6>
          <p class="text-start">
            Esta aplicación web está realizada para dar respuestas y soluciones para la gestión de tu biblioteca.
            De una forma intuitiva, rápida y eficiente podrás organizar tus recursos y usuarios.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Desarrollo
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Firebase</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Bootstrap</a>
          </p>
          <p>
            <a href="#!" class="text-reset">FlatIcon</a>
          </p>
        </div>

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Útiles Link
          </h6>
          <p>
            <a href="#!" class="text-reset">Home</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Lista de Libros</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Lista de Socios</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Préstamos</a>
          </p>
        </div>

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contacto
          </h6>
          <p>
            <img src="../../../assets/iconos/empleado.png" alt="Icono de empleado">
            Vicente Sánchez Cabrera
          </p>
          <p>
            <img src="../../../assets/iconos/localizacion.png" alt="Icono de localizacion">
            C.E.D Altair, C/Barbero de Sevilla s/n, 41006, Sevilla.
          </p>
          <p>
            <img src="../../../assets/iconos/correo-electronico.png" alt="Icono de localizacion">
            vicsancab89@gmail.com
          </p>
          <p><img src="../../../assets/iconos/telefono.png" alt="Icono de localizacion">663749735</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://vicsancab.com/">vicsancab.com</a>
  </div>
  <div>Icons made by
    <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </div>
</footer>
