<app-navbar></app-navbar>
<div class="container">
  <!--Título-->
  <h2>Lista de Socios</h2>
  <!--Filtrado-->
  <div class="form-group input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">
      <img class="iconoBuscar" src="../../../assets/iconos/buscar.png" alt="Icono de buscar">
    </span>
    <input type="text" class="form-control" placeholder="por nombre, apellidos, correo, telefono"
      aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="filtraSocio"
      name="filtraSocio">
    <img class="nuevoSocio" routerLink="/nuevoSocio" src="../../../assets/iconos/hombre.png" alt="Icono de un socio">
  </div>
  <!--Tabla responsiva de datos del socio-->
  <div class="table-responsive">
    <table class="table">
      <!--Cabecera-->
      <thead>
        <tr>
          <th scope="col">Nombre:</th>
          <th scope="col">Apellidos:</th>
          <th scope="col">Correo:</th>
          <th scope="col">Teléfono:</th>
        </tr>
      </thead>
      <tbody>
        <!--Carga de socios y filtrado-->
        <tr *ngFor="let socio of socios | filtradoSocio: filtraSocio" routerLink="/socios/{{socio.id}}">
          <!--Nombre-->
          <td>
            {{socio.data.nombre}}
          </td>
          <!--Apellidos-->
          <td>
            {{socio.data.apellido}}
          </td>
          <!--Email-->
          <td>
            {{socio.data.correo}}
          </td>
          <!--Teléfono-->
          <td>
            {{socio.data.telefono}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-footer></app-footer>
