@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.container{
  margin-top: 2%;
}
td{
  cursor: pointer;
}

h2{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 42px;
}
.nuevoSocio{
  width: 38px;
}
input{
  margin-right: 5%;
}
.form-group{
  margin-bottom: 2%;
  padding-right: 5%;
}
.iconoBuscar{
  height: 30px;
  width: 30px;
}
.cabecera{
  margin-top: 5%;
}

