<div class="container">
  <h1>Lista de Alumnos</h1>
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let alumno of alumnos">
          <h4 (click)="showAlumno(alumno.id)">
            <span class="badge bg-primary">{{alumno.id +1}} </span>
            {{alumno.nombre.nom}}
            {{alumno.nombre.apellidos}}
          </h4>
        </li>
      </ul>
    </div>
  </div>
</div>

