<div class="hijo">
  <table border=1>
 <th colspan="4" style="text-align:center">Hijo</th>
 <tr>
 <td><button class="tamB" (click)="suma()">+</button></
 td>
 <td><button class="tamB" (click)="resta()">-</
 button></td>
 <td><button class="tamB" (click)="multiplica()">*</
 button></td>
 <td><button class="tamB" (click)="divide()">/</
 button></td>
 </tr>
  </table>
 </div>
