<div class="container">
  <h1>Objetivos del Examen</h1>
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group" *ngFor="let objetivo of objetivos">
          <h4>
            <span class="badge bg-info">{{objetivo.id}} </span>
            {{objetivo.txt}}
          </h4>

        </li>
      </ul>
    </div>
  </div>
</div>
