<h2>{{grupo1.nombre}}</h2>
<div><span>Nombre </span>{{grupo1.nombre}}</div>
<div>
  <label for="nombre"> Grupo nombre: </label>
  <input id="nombre" [(ngModel)]="grupo1.nombre" placeholder="name">
</div>
