<ul>
  <li *ngFor= "let coche of coches">
    <div class="card" style="width: 18rem;">
      <img src="{{coche.imagen}}" class="card-img-top" alt="Imagen del coche">
      <div class="card-body">
        <h5 class="card-title">{{coche.modelo}}</h5>
        <p class="card-text">{{coche.texto}}</p>
        <a routerLink="coche/{{coche.id}}" class="btn btn-primary">Personalizado</a>
      </div>
    </div>
  </li>
</ul>
