<div class="card" style="width: 18rem;">
  <img src="{{jugador.avatar}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{jugador.nombre}}</h5>
    <p class="card-text">{{jugador.nick}}</p>
  </div>
</div>
