<app-navbar></app-navbar>
<div class="container-fluid">
  <!--Titulo-->
  <h2>Añade Nuevo Libro</h2>

  <!--Formulario-->
  <form (ngSubmit)="newLibro(newLibroForm.value)" [formGroup]="newLibroForm">
    <!--Titulo-->
    <div class="input-group mb-3">
      <span class="input-group-text" id="titulo">
        <img src="assets/iconos/title.png" alt="Icono título">
      </span>
      <input type="text" class="form-control" aria-label="titulo" aria-describedby="titulo" formControlName="titulo"
        placeholder="Don Quijote de la Mancha">
    </div>

    <!--Autor-->
    <div class="input-group mb-3">
      <span class="input-group-text" id="autor">
        <img src="assets/iconos/writer.png" alt="Icono escritor">
      </span>
      <input type="text" class="form-control" aria-label="autor" aria-describedby="autor" formControlName="autor"
        placeholder="Miguel de Cervantes Saavedra">
    </div>

    <!--Editorial-->
    <div class="input-group mb-3">
      <span class="input-group-text" id="editorial">
        <img src="assets/iconos/editorial.png" alt="Icono editorial">
      </span>
      <input type="text" class="form-control" aria-label="editorial" aria-describedby="editorial"
        formControlName="editorial" placeholder="Alfaguara">
    </div>

    <!--ISBN-->
    <div class="input-group mb-3">
      <span class="input-group-text" id="isbn">
        <img src="assets/iconos/bar-code.png" alt="Icono isbn">
      </span>
      <input type="text" class="form-control" aria-label="isbn" aria-describedby="isbn" formControlName="isbn"
        placeholder="978-8420467283">
    </div>

    <!--Estado Prestamo hidden-->
    <input type="hidden" formControlName="prestamo" />

    <!--Imagen-->
    <div class="input-group mb-3">
      <span class="input-group-text" id="imagen">
        <img src="assets/iconos/urlimage.png" alt="Icono imagen">
      </span>
      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" formControlName="img"
        placeholder="https://www.ejemplo.com/imagen.jpg">
    </div>

    <!--Descripcion-->
    <div class="input-group">
      <span class="input-group-text">
        <img src="assets/iconos/escritura.png" alt="Icono escritura">
      </span>
      <textarea class="form-control" aria-label="With textarea" placeholder="Describe el nuevo libro" formControlName="descripcion"></textarea>
    </div>

    <!--Submit-->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <input type="submit" class="btn btn-primary" [disabled]="!newLibroForm.valid" value="Agregar">
    </div>
  </form>
</div>
<app-footer></app-footer>
