.container-fluid{
  margin-top: 2%;
}
h2{
  text-align: center;
}
form
{
  padding-left: 8%;
  padding-right: 8%;
}
span{
  background-color: #0d6efd;
  color: white;
  text-align: center;
}
img{
  height: 35px;
  width: 35px;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
h2{
  font-family: 'Dancing Script', cursive;
  text-align: center;
}
