div{
  margin: 5%;
  text-align: center;
}

h1{
  font-family: 'Times New Roman', Times, serif;
  color: rgb(255, 0, 13);
  font-size: 42px;
  text-align: center;
}
p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  color: black;
  text-align: center;
}
img{
  height: 30%;
  width: 30%;
}
