<div class="container-fluid">
  <h1>Feliz Navidad</h1>
  <img src="../../assets/nacimiento.jpg" alt="Postal nacimiento">
  <p>De parte de Vicente Sánchez.</p>
  <p>Celebramos la natividad de nuestro Señor.</p>
</div>
