<div class="container">
  <h2>Tarjeta del Alumno</h2>
  <div class="row">
    <div class="col-md-8">
      <div class="card" style="width: 18rem;">
        <img src="https://cdn-icons-png.flaticon.com/512/1509/1509606.png" class="card-img-top" alt="Icono de imagen">
        <div class="card-body">
          <h5 class="card-title">{{alumno.nombre.nom}} {{alumno.nombre.apellidos}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Curso: {{alumno.curso}}</h6>
          <p class="card-text">Edad: {{alumno.edad}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
