<div class="container">
  <div class="row">
    <div class="col-4 col-sm-12 col-md-6 col-lg-4">
      <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let juego of juegos">
          <div class="ms-2 me-auto">
            <div class="fw-bold" (click)="muestraJuego(juego.id)">{{juego.nombre}}</div>
            {{juego.editor}}
          </div>
          <span class="badge bg-primary rounded-pill">{{juego.id}}</span>
        </li>
      </ol>
    </div>
  </div>
</div>




