<div class="card" style="width: 18rem;">
  <img src="{{juego.caratula}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{juego.nombre}}</h5>
    <p class="card-text">{{juego.editor}}</p>
  </div>
</div>
