<div class="card" style="width: 18rem;">
  <img src="{{angler.foto}}" class="card-img-top" alt="...">
  <div class="card-body">
    <input id= name [(ngModel)]="angler.nombre" placeholder="name">
    <h5 class="card-title">{{angler.nombre}}</h5>
    <p class="card-text text-lg-start text-justify">{{angler.descripcion}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Participación: {{angler.torneos}}</li>
    <li class="list-group-item">Ganados: {{angler.ganados}}</li>
  </ul>
</div>

