<!-- Cabecera-->
<div class="container bg-primary text-white text center">
  <h1>Servicio de router: ejemplos de uso</h1>

  <!--Navbar-->
  <ul class="nav" >
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/libros" routerLinkActive= "active-link">Libros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/autores" routerLinkActive="active-link">Autores</a>
    </li>
  </ul>
</div>
