@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.container-fluid{
  margin-top: 2%;
}

form
{
  padding-left: 5%;
  padding-right: 5%;
}
span{
  background-color: #0d6efd;
  color: white;
  text-align: center;
}
img{
  height: 35px;
  width: 35px;
}
h2{
  font-family: 'Dancing Script', cursive;
  text-align: center;
}
