<div class="row">
  <div class="col">
    <h2>{{ empleado.name.first }} {{ empleado.name.last }}</h2>
    <p>Company: {{ empleado.company }}</p>
    <p>Contact at: {{ empleado.email }}</p>
  </div>
</div>
