@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.container-link{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  height: 80%;
}

.container{
  margin-top: 2%;
}
.form-group{
  margin-bottom: 2%;
  padding-right: 5%;
}
.iconoBuscar{
  height: 30px;
  width: 30px;
}
.container-img{
 height: 80%;
 cursor: pointer;
}
img{
  text-align: center;
  height: 92%;
  width: 92%;
}
p{
  text-align: center;
  height: 92%;
  width: 92%;
  font-family: 'Dancing Script', cursive;
  font-size: 18px;
}

h2{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 40px;
}

.titulo{
  color: brown;
}
.row{
  margin-top: 5%;
}
.nuevoLibro{
  width: 35px;
}
input{
  margin-right: 5%;
}
