<app-navbar></app-navbar>
<div class="container px-4">
  <!--Titulo-->
  <h2>Lista de Libros</h2>
  <!--Formulario de busquedad-->
  <div class="form-group input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">
      <img class="iconoBuscar" src="assets/iconos/research.png" alt="Icono de buscar">
    </span>
    <input type="text" class="form-control" placeholder="por título, autor, isbn" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="filtraLibro" name="filtraLibro">
    <img class="nuevoLibro" routerLink="/nuevoLibro" src="assets/iconos/libro.png" alt="Icono de un libro">
  </div>

  <div class="row">
    <!--carga de libros incluyendo filtrado-->
    <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let libro of libros | filtradoLibro: filtraLibro">
      <!--Titulo-->
      <div class="container-text">
        <p class="titulo">{{libro.data.titulo}}</p>
      </div>
      <!--Autor-->
      <div class="container-text">
        <p>{{libro.data.autor}}</p>
      </div>
      <!--Portada del libro-->
      <div class="container-img">
        <img class="portadaLibro" routerLink="{{libro.id}}" class="card-img-top" src="{{libro.data.img}}" alt="Imagen del libro {{libro.data.titulo}}">
      </div>

      <div class="container-link">
      <!--Mensaje que el libro esta prestado si prestamo es true-->
      <p *ngIf="libro.data.prestamo">Este libro está prestado</p>

      <!--Edita solamente con prestamo en false-->
      <a routerLink="/editLibro/{{libro.id}}" *ngIf="!libro.data.prestamo" class="link-primary">Editar</a>

      <!--Elimina con prestamo en false-->
      <div class="button-container" *ngIf="!libro.data.prestamo">
        <a type="button" class="link-danger" data-bs-toggle="modal" data-bs-target="#modal">Borrar</a>

        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Borrar {{libro.data.titulo}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Recuerde que si elimina {{libro.data.titulo}},
                no lo podrá recuperar.
              </div>
              <div class="modal-footer">
                <button routerLink="/prestamos" type="button" class="btn btn-secondary"
                  data-bs-dismiss="modal">Cerrar</button>
                <button routerLink="/prestamos" (click)="deleteLibro(libro.id)" type="button"
                  class="btn btn-primary">Borrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

