<div class="row">
  <div class="col">
    <ul>
      <div *ngFor="let lake of lakes">
        <div class="card" style="width: 18rem;">
          <img src= {{lake.foto}} class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">
              <a>Nombre: {{lake.nombre}} </a><br>
              <a>Provincia: {{lake.provincia}}</a><br>
              <a *ngIf="lake.navegable">Estado: Navegable</a>
              <a *ngIf="!lake.navegable">Estado: No navegable</a>
            </p>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>
<button class="btn btn-primary" (click)="selectLake()">Todos</button>
<button class="btn btn-primary" (click)="selectLake(true)">Navegable</button>
<button class="btn btn-primary" (click)="selectLake(false)">No navegable</button>
