<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Quince Fishing</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/lake">Lakes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bait">Baits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rod">Rods</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reel">Reels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/line">Lines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hook">Hooks</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
