<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <!--1ºColumna-->
    <div class="col col-md-8 col-sm-12 socio">
      <!--Información del Socio-->
      <div>
        <!--Icono y Nombre Apellido del Socio-->
        <p>
          <img class="iconoSocio" src="../../../assets/iconos/empleados.png" alt="Icono de socio">
          {{socio.nombre}} {{socio.apellido}}
        <!--Imagen del Socio-->
        </p>
        <img class="fotoSocio" src="{{socio.img}}" alt="Foto del libro">
        <!--Icono y Correo del Socio-->
        <p>
          <img class="iconoSocio" src="../../../assets/iconos/correo-electronico.png" alt="Icono de correo">
          {{socio.correo}}
        </p>
        <!--Icono y Teléfono del Socio-->
        <p>
          <img class="iconoSocio" src="../../../assets/iconos/telefono.png" alt="Icono de telefono">
          {{socio.telefono}}
        </p>
        <!--Icono y Dirección del Socio-->
        <p>
          <img class="iconoSocio" src="../../../assets/iconos/localizacion.png" alt="Icono de direccion">
          {{socio.direccion}}
        </p>
      </div>
    </div>
    <!--2ºColumna-->
    <div class="col col-md-4 col-sm-12 menu">
      <!--Título del Menú-->
      <div>
        <h3>Menú</h3>
      </div>
      <!--Menú de botones-->
      <div>
        <!--Icono y Botón de Préstamo-->
        <div routerLink="/prestamos/nuevoPrestamo" class="button-container">
          <img class="icono" src="/assets/iconos/prestar.png" alt="Icono de prestar">
          <button type="button" class="btn btn-outline-primary">Prestar</button>
        </div>
        <!--Icono y Botón de Editar-->
        <div routerLink="/editSocio/{{id}}" class="button-container">
          <img class="icono" src="/assets/iconos/writing.png" alt="Icono de editar">
          <button type="button" class="btn btn-outline-secondary">Editar</button>
        </div>
        <!--Icono y Botón de Borrar-->
        <div class="button-container">
          <img class="icono" src="/assets/iconos/delete.png" alt="Icono de borrar">
          <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal">Borrar</button>

          <!-- Modal -->
          <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title" id="exampleModalLabel">Borrar {{socio.nombre}} {{socio.apellido}}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Recuerde que si elimina {{socio.nombre}} {{socio.apellido}}
                  no lo podrá recuperar.
                </div>
                <div class="modal-footer">
                  <button routerLink="/prestamos" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cerrar</button>
                  <button routerLink="/prestamos" (click)="deleteSocio(id)" type="button"
                    class="btn btn-primary">Borrar</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
