@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.container-fluid {
	text-align: center;
}

h2 {
	font-family: 'Dancing Script', cursive;
	font-size: 25px;
}

.socio {
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 2%;
	margin-bottom: 5%;
}

.row {
	margin-top: 2%;
}

.fotoSocio {
	height: 75%;
	width: 75%;
}

.icono {
	height: 45px;
	width: 45px;
	margin-right: 5%;
}

p {
	margin-top: 2%;
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
}

h3 {
	text-align: center;
	font-size: 25px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu {
	text-align: center;
	margin-top: 2%;
	margin-bottom: 5%;
}

button {
	height: 75%;
	width: 75%;
}

.button-container {
	margin-bottom: 5%;
}

.iconoSocio {
	height: 25px;
	width: 25px;
	margin-right: 2%;
}
