<app-navbar></app-navbar>
<div class="container-fluid">
  <!--Título-->
  <h2>Devolucion de Libro</h2>
  <!--Formulario-->
  <form [formGroup]="prestamoForm" (ngSubmit)="devolucion()">
    <!--Input de Id al usuario se le muestra el título del libro como disabled-->
    <div class="input-group mb-3">
      <span class="input-group-text" id="libro">
        <img src="../../../assets/iconos/libro.png" alt="Icono libro">
      </span>
      <input class="form-control" type="text" placeholder="{{libro.titulo}}" aria-label="Disabled input example" disabled>
      <input type="hidden" class="form-control" aria-label="libro" aria-describedby="libro" formControlName="libroId">
    </div>

    <!--Input del id al usuario se le muestra nombre y apellido del socio como disabled-->
    <div class="input-group mb-3">
      <span class="input-group-text" id="socio">
        <img src="../../../assets/iconos/empleados.png" alt="Icono empleado">
      </span>
      <input class="form-control" type="text" placeholder="{{socio.nombre}} {{socio.apellido}}" aria-label="Disabled input example" disabled>
      <input type="hidden" class="form-control" aria-label="socio" aria-describedby="socio" formControlName="socioId">
    </div>

    <!--Fecha prestamo disabled-->
    <div class="input-group mb-3">
      <span class="input-group-text" id="prestado">
        <img src="../../../assets/iconos/calendario.png" alt="Icono prestado">
      </span>
      <input class="form-control" type="text" placeholder="{{prestamo.prestado}}" aria-label="Disabled input example" disabled>
      <input type="hidden" class="form-control" aria-label="prestado" aria-describedby="prestado" formControlName="prestado">
    </div>

    <!--Fecha devolución lo elige el usuario-->
    <div class="input-group mb-3">
      <span class="input-group-text" id="devuelto">
        <img src="../../../assets/iconos/calendario.png" alt="Icono devuelto">
      </span>
      <input type="date" class="form-control" aria-label="devuelto" aria-describedby="devuelto" formControlName="devuelto">
    </div>

    <!--Botón submit-->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <input type="submit" class="btn btn-primary" [disabled]="!prestamoForm.valid" value="Devolver">
    </div>
  </form>
</div>
<app-footer></app-footer>
