<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Gracias por Registrarte</h3>

      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">Nosotros hemos enviado un correo de verificación<strong>{{user.email}}</strong>.</p>
        <p class="text-center">Por favor revise su email y haz click en el link para verificar tu dirección de email.</p>
      </div>

      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="formGroup">
        <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Resend Verification Email
        </button>
      </div>

    </div>

    <div class="redirectToLogin">
      <span>¿Quieres volver?<span class="redirect" routerLink="/sign-in"> Inicia Sesión</span></span>
    </div>

  </div>
</div>
