<div class="background">
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Sign Up</h3>
          <div class="d-flex justify-content-end social_icon">
            <span><i class="fab fa-facebook-square"></i></span>
            <span><i class="fab fa-google-plus-square"></i></span>
            <span><i class="fab fa-twitter-square"></i></span>
          </div>
        </div>
        <div class="card-body">
          <div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><img src="assets/iconos/user.png" alt="Icono user"></span>
              </div>
              <input type="email" class="form-control" id="email" #userEmail placeholder="username" required>

            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><img src="assets/iconos/lock.png" alt="Icono user"></span>
              </div>
              <input type="password" class="form-control" id="password" placeholder="password" #userPwd required>
            </div>

            <div class="form-group">
              <button class="btn float-right login_btn" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">Sign Up</button>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
             have you got an account?<a routerLink="/sign-in">Sign In</a>
          </div>
          <div class="d-flex justify-content-center">
            <a routerLink="/forgot-password">Forgot your password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
    <!-- Continue with Google
      <div class="formGroup">
        <button type="button" class="btn btn-success" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Continue with Google
        </button>
      </div>-->
