<h5 class="border-1 border-top">Petición:</h5>
<div class="btn-group" role="group" aria-label="Basic Example">
  <button type="button" class="btn btn-secondary" (click)="get()">Get</button>
  <button type="button" class="btn btn-secondary" (click)="post()">Post</button>
</div>
<h5 class="border-1 border-top">Resultado:</h5>
<!--<pre>{{resultadoPeticion|json}}</pre>-->
<ul class="list-group">
  <li *ngFor="let post of resultadoPeticion">
    <span>{{post.title}}</span>
    <span>{{post.body}}</span>
  </li>
</ul>

