/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  /* display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;*/
  background-color: #f5f5f5 !important;
  text-align: center !important;
}
