<div class="row">
  <div class="col">
    <ul>
      <li *ngFor="let empleado of employees">
        <a routerLink="" (click)="showEmploye(empleado.id)" class="nav-link" >
        {{empleado.name.first}} {{empleado.name.last}}</a>
      </li>
    </ul>
  </div>
</div>
<!-- Aquí va un menú de tres: todos los empleados, activos e inactivos -->
<button class="btn btn-primary" (click)="filtrarEmpleados()">Todos</button>
<button class="btn btn-primary" (click)="filtrarEmpleados(true)">Activos</button>
<button class="btn btn-primary" (click)="filtrarEmpleados(false)">Inactivos</button>
