@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.container-fluid{
  margin-top: 2%;
}
form{
  padding-left: 8%;
  padding-right: 8%;
}
h2{
  font-family: 'Dancing Script', cursive;
  text-align: center;
}
img{
  height: 35px;
  width: 35px;
}

