<app-navbar></app-navbar>
<div class="container-fluid">
  <!--Título-->
  <h2>Añade Nuevo Prestamo</h2>
  <!--Formulario-->
  <form (ngSubmit)="newPrestamo(newPrestamoForm.value)" [formGroup]="newPrestamoForm">
    <!--Selección del libro-->
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">
        <img src="../../../assets/iconos/libro.png" alt="Icono libro">
      </span>
      <select formControlName="libroId" class="form-select" aria-label="Default select example">
        <option *ngFor="let libro of libros"  value="{{libro.id}}">{{libro.data.titulo}}</option>
      </select>
    </div>
    <!--Selección del Socio-->
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">
        <img src="../../../assets/iconos/empleados.png" alt="Icono Socio">
      </span>
      <select formControlName="socioId" class="form-select" aria-label="Default select example">
        <option *ngFor="let socio of socios" value="{{socio.id}}">{{socio.data.nombre}} {{socio.data.apellido}}</option>
      </select>
    </div>
    <!--Fecha Prestamo-->
    <div class="input-group mb-3">
      <span class="input-group-text" id="prestado">
        <img src="../../../assets/iconos/calendario.png" alt="Icono prestado">
      </span>
      <input type="date" class="form-control" aria-label="prestado" aria-describedby="prestado" formControlName="prestado">
    </div>
    <!--Devolución es null-->
    <input type="hidden" id="devuelto" name="devuelto" formControlName="devuelto">
    <!--Submit-->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <input type="submit" class="btn btn-primary" [disabled]="!newPrestamoForm.valid" value="Agregar">
    </div>
  </form>
</div>
<app-footer></app-footer>
