@import "../../../assets/styles/variables.scss";

.container{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

table {
    min-width: 80%;
    margin: auto;
    text-align: center;
}

.mat-header-cell {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

//even
//Representa elementos cuya posición numérica en una serie de hermanos es par: 2, 4, 6, etc.
.mat-row:nth-child(even) {
    background-color: $white;
}

//odd
//Representa elementos cuya posición numérica en una serie de hermanos es impar: 1, 3, 5, etc.
.mat-row:nth-child(odd) {
    background-color: $red;
    & .mat-cell {
        color: $white;
    }
}

.mat-cell:first-letter {
    text-transform: uppercase;
}

.mat-row:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 5px $yellow;
}

::ng-deep.mat-paginator {
    width: 80%;
    margin: auto;
}

.mat-form-field {
    font-size: 13px;
    width: 20%;

    margin-bottom: 5px;
    padding: 10px;
}

::ng-deep.mat-form-field-label {
    color: $white !important;
}
::ng-deep.mat-form-field-underline {
    background-color: $white !important;
}

input {
    color: $white !important;
}
