@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.container{
  margin-top: 2%;
}
h2{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 42px;
  text-align: center;
}
a{
 cursor: pointer;
}
.iconoBuscar{
  height: 30px;
  width: 30px;
}
.form-group{
  margin-bottom: 2%;
  padding-right: 5%;
}
input{
  margin-right: 5%;
}
.nuevoPrestamo{
  width: 38px;
}
