<app-navbar></app-navbar>
<div class="container">
  <!--Titulo y nuevo prestamo-->
  <h2>
    Lista de Prestamos
    <img class="nuevoPrestamo" routerLink="/prestamos/nuevoPrestamo" src="../../../assets/iconos/prestamo.png"
      alt="Icono de nuevo prestamo">
  </h2>

  <!--Tabla con los prestamos-->
  <div class="table-responsive">
    <table class="table">
      <!--Cabecera-->
      <thead>
        <tr>
          <th scope="col">Socio</th>
          <th scope="col">Libro</th>
          <th scope="col">Prestado</th>
          <th scope="col">Devuelto</th>
          <th scope="col">Menú</th>
        </tr>
      </thead>
      <tbody>
        <!--Carga los prestamos-->
        <tr *ngFor="let prestamo of prestamos">
          <!--Carga los socios-->
          <ng-container *ngFor="let socio of socios">
            <!--Obtengo el nombre y apellidos del socio-->
            <td *ngIf="compareId(socio.id, prestamo.data.socioId)">
              {{socio.data.nombre}} {{socio.data.apellido}}
            </td>
          </ng-container>
          <!--Carga los libros-->
          <ng-container *ngFor="let libro of libros">
            <!--Obtengo el libro existente en el prestamo-->
            <td *ngIf="compareId(libro.id, prestamo.data.libroId)">
              {{libro.data.titulo}}
            </td>
          </ng-container>
          <!--Prestamo-->
          <td>
            {{prestamo.data.prestado}}
          </td>
          <!--Devolución-->
          <td>
            {{prestamo.data.devuelto}}
          </td>
          <td>
            <!--Devolución si el campo es nulo-->
            <a routerLink="/devolucion/{{prestamo.id}}" class="link-primary"
              *ngIf="prestamo.data.devuelto == null">Devolucion</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-footer></app-footer>
