.container{
  width: 50%;
  margin: 20px auto;
  border: 1px solid #abe4b8;
  background-color: #110F26;
  border-radius: 10px;
  padding: 10px;
}
.container li{
  list-style: none;
  font-size: 20 px;
  cursor: pointer;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #333333;
  border-radius: 5px;
  background-color: #3aa330;
  width: 50%;
  padding: 10px;
}
