<div class="container text-center fw-bold justify-content-between">
  <div class="row">
    <div routerLink="/listado/A" class="col-2 bg-info text-dark p-5 m-5" >
      Grupo A
      </div>
      <div routerLink="/listado/B" class="col-2 bg-primary text-white p-5 m-5">
      Grupo B
      </div>
  </div>
    <div class="row">
      <div routerLink="/listado/C" class="col-2 bg-secondary text-dark p-5 m-5">
        Grupo C
        </div>
        <div routerLink="/listado/D" class="col-2 bg-success p-5 m-5">
        Grupo D
        </div>
    </div>
</div>

