<p>{{cosa.nombre | uppercase}}</p>
<label class="form-label" for="cantidad">Cantidad:</label>
<input type="number" class="form-control"
      id="cantidad"
      name="cantidad"
      onchange=""
      [(ngModel)]="cosa.cantidad">
<button class="btn btn-success" [disabled]="" (click)="enviarArticulo()"></button>
