<h1>Este es el componente padre</h1>
<h2>Lista de de la compra</h2>
<ul>
  <li *ngFor="let cosa of cosas" (click)="selectCosa(cosa)">{{cosa}}</li>
</ul>
<app-hijo [cosa]="miCosa" (enviar)='recibir($event)'></app-hijo>
